In [2]:
import pandas as pd
import numpy as np

In [3]:
c=pd.read_csv('customer_join.csv')
ul=pd.read_csv('use_log.csv')

In [4]:
ul.isnull().sum()

log_id         0
customer_id    0
usedate        0
dtype: int64

In [5]:
c.isnull().sum()

customer_id         0
name                0
class               0
gender              0
start_date          0
end_date         2842
campaign_id         0
is_deleted          0
class_name          0
price               0
campaign_name       0
mean                0
median              0
amax                0
amin                0
flag1               0
cal_date            0
star_date           0
mem_period          0
dtype: int64

- 클러스터 사용
    - KMeans

- 군집개수: 4개
- mean, median, min, max 변수는 월 이용 횟수와 관련된 변수: 1~8 사이의 값을 가짐
- 이에 반해 mem_period 단위가 너무 크니까 scaling

In [6]:
cc = c[['mean', 'median', 'amax', 'amin', 'mem_period']]
cc.head()

       mean  median  amax  amin  mem_period
0  4.833333     5.0     8     2   47.968131
1  5.083333     5.0     7     3   47.968131
2  4.583333     5.0     6     3   47.968131
3  4.833333     4.5     7     2   47.968131
4  3.916667     4.0     6     1   47.968131

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [8]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(cc)
x_scaled = pd.DataFrame(x_scaled, columns=['mean', 'median', 'max', 'min', 'mem_period'])
x_scaled.head()

       mean    median       max       min  mem_period
0 -0.281206 -0.133676  0.081177 -0.533620    2.031859
1 -0.140545 -0.133676 -0.379928 -0.021149    2.031859
2 -0.421867 -0.133676 -0.841034 -0.021149    2.031859
3 -0.281206 -0.400393 -0.379928 -0.533620    2.031859
4 -0.796964 -0.667109 -0.841034 -1.046090    2.031859

In [9]:
kmeans = KMeans(n_clusters=4, random_state=0)
clusters = kmeans.fit(x_scaled)

In [10]:
cc['cluster']=clusters.labels_
cc.head()

C:\Users\user\AppData\Local\Temp\ipykernel_7328\298674097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc['cluster']=clusters.labels_

       mean  median  amax  amin  mem_period  cluster
0  4.833333     5.0     8     2   47.968131        1
1  5.083333     5.0     7     3   47.968131        1
2  4.583333     5.0     6     3   47.968131        1
3  4.833333     4.5     7     2   47.968131        1
4  3.916667     4.0     6     1   47.968131        1

In [11]:
cc.rename(columns={'mean':'월 평균', 'median':'월별 중간값', 'amax':'월별 최대값', 'amin':'월별 최소값', 'mem_period':'회원기간'}, inplace=True)
cc.head()

C:\Users\user\AppData\Local\Temp\ipykernel_7328\2215151315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc.rename(columns={'mean':'월 평균', 'median':'월별 중간값', 'amax':'월별 최대값', 'amin':'월별 최소값', 'mem_period':'회원기간'}, inplace=True)

       월 평균  월별 중간값  월별 최대값  월별 최소값       회원기간  cluster
0  4.833333     5.0       8       2  47.968131        1
1  5.083333     5.0       7       3  47.968131        1
2  4.583333     5.0       6       3  47.968131        1
3  4.833333     4.5       7       2  47.968131        1
4  3.916667     4.0       6       1  47.968131        1