In [1]:
import pandas as pd 
import numpy as np
from sklearn.svm import SVR
from sklearn.datasets import load_boston, make_regression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [2]:
boston = load_boston()
x = pd.DataFrame(boston.data, columns=boston.feature_names)
y = boston.target

c:\Users\user\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
len(y)

506

In [9]:
scaler = MinMaxScaler()
#학습과 데이터 변환을 동시에 하고 싶을 때
x_scaled = scaler.fit_transform(x)

In [10]:
x_scaled

array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
        2.87234043e-01, 1.00000000e+00, 8.96799117e-02],
       [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 1.00000000e+00, 2.04470199e-01],
       [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 9.89737254e-01, 6.34657837e-02],
       ...,
       [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.07891832e-01],
       [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 9.91300620e-01, 1.31070640e-01],
       [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.69701987e-01]])

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, random_state=42)

In [15]:
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

379
379
127
127

- 선형

In [17]:
svr = SVR(kernel='linear', C=1.0, gamma='auto')
svr.fit(x_train, y_train)

SVR(gamma='auto', kernel='linear')

In [18]:
#예측값 저장
pred = svr.predict(x_test)

In [21]:
#가중치 확인: coef_ -> 선형일 때만 가능
print('가중치: ', svr.coef_)
#절편값 확인: intercept_
print('절편: ', svr.intercept_)

가중치:  [[ -3.0007846    2.46        -1.10173199   2.08294655  -2.38913005
   12.58626351  -1.65420814  -5.23800828   0.36293213  -2.96768549
   -6.30509895   3.87126886 -11.45561388]]
절편:  [22.99158625]

In [22]:
#mse: 평균 잔차 제곱
print('평균 잔차 제곱: ', np.mean(np.square(y_test-pred)))

평균 잔차 제곱:  26.074456358200273

In [24]:
#                        정답값, 예측값
mse = mean_squared_error(y_test, pred)
print('평균 잔차 제곱: ', mse)

평균 잔차 제곱:  26.074456358200273

In [25]:
#rmse 공식1
rmse = mean_squared_error(y_test, pred)**0.5
print('rmse: ', rmse)

rmse:  5.106315340654186

In [27]:
#rmse 공식2
rmse = mean_squared_error(y_test, pred, squared=False)
print('rmse: ', rmse)

rmse:  5.106315340654186

In [29]:
#회귀모델에서는 .score() 적용하면 R^2값나옴
svr.score(x_test, y_test)

0.6276521503300827